.container {
  transition: opacity 0.3s;
  opacity: 0;
  top: 150px;
  background-color: theme('colors.white');
  width: calc(100% - 56px);

  &:before {
    position: absolute;
    content: '';
    top: 65px;
    right: 0;
    height: 0;
    width: 0;
    border-right: 18px solid theme('colors.white');
    border-left: 18px solid transparent;
    border-top: 18px solid transparent;
    border-bottom: 18px solid theme('colors.white');
    transform: translateX(0px) translateY(-100px);
  }
}

.active {
  opacity: 1;
}

.list {
  & > *:last-child {
    margin-top: 2.5rem !important;
    padding: 1rem 2rem;
    background: theme('colors.yellow');
    border-radius: 2rem;
    font-family: theme('fontFamily.heading');
    transition: all 0.3s;

    &:hover {
      background-color: theme('colors.black');
      color: theme('colors.white');
    }
  }
}
