@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Barlow';
    src: url('./assets/fonts/barlow/Barlow-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/fraunces/Fraunces-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/fraunces/Fraunces-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
}

@layer components {
  .layout {
    @apply flex flex-col justify-center items-center mx-auto w-full;
  }

  .content {
    @apply flex flex-col justify-center items-center space-y-2 w-full;
  }
}
